<div class="panel panel-default">
  <div class="panel-heading">
	<h1>New status</h1>
	</div>

<%= render 'form' %>

	<div class="panel-footer">
		<%= link_to 'Back', statuses_path, class: "btn btn-default" %>
	</div>
</div>